
h1{
font-family:helvetica;
text-align: center;}
h4{margin-top:0;
margin-bottom:0;
margin-left:400px;}
h2{
margin-left:400px;
}
h4{
margin-left:400px;}
h5{margin-left:400px;}
p{margin-left:400px;
margin-right: 400px;}
button{margin-left:400px;}
hr{margin-left:400px;
margin-right: 400px;}
li{margin-left:400px
}
ul{column-count:2;
margin-right: 800px;}

